select {
    border: 2px solid blue;
    color: blue;
    padding: 5px;
    position: absolute;
    top: 0;
    left: 1rem;
}

#root {
    width: 100vw;
    height: 100vh;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    background: black;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#resoult {
    position: fixed;
    top: 0;
    left: 45%;
    width: 10%;
    display: none;
    z-index: 300;
}

#wait {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 100; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}
.handler {
    display: flex;
    width: 210px;
    height: 100%;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.handler img {
    display: flex;
}

#info {
    color: red;
    margin: 0 auto;
    padding: 0;
}